{% extends 'base.html.twig' %}

{% block title %}Picture index{% endblock %}

{% block body %}
    <h1>Picture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Description</th>
                <th>PublishingTime</th>
                <th>PictureFilename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.status }}</td>
                <td>{{ picture.description }}</td>
                <td>{{ picture.publishingTime ? picture.publishingTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ picture.pictureFilename }}</td>
                <td>
                    <a href="{{ path('picture_show', {'id': picture.id}) }}">voir</a>
                    <a href="{{ path('picture_edit', {'id': picture.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('picture_new') }}">Create new</a>
{% endblock %}
